.arya-view {
  padding-top: 7rem;
  h1 {
    font-size: 1.5rem;
  }
  .arya-image-wrap {
    margin: 0 auto;
    max-width: 70vw;
    img {
      width: 100%;
    }
  }
  .arya-video-wrap {
    margin: 3rem auto;
    height: 400px;
    max-width: 60vw;
    overflow: hidden;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
