.main-view {
  display: flex;
  flex-direction: column;
  color: #53565a;
  margin: 20px;
}

.content-header {
  flex: 1 1 100px;
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  box-shadow: #d7d7d7 0px 2px 5px;
  background: #fff;

  .content-label-box {
    display: flex;
    flex-direction: column;
    h3 {
      color: #53565a;
      margin-left: -0.75em !important;
    }
    .content-sublabel {
      color: #ed8b00;
    }
  }
}

.viewContent {
  flex: 7 7 600px;
  padding: 0 1em;
  background: #fff;
  box-shadow: #d7d7d7 0px 1px 2px;
}
